header,
main {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
  overflow-y: hidden;
}

body {
  text-align: -webkit-center;
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  list-style-type: none;
  overflow-x: hidden;
  background-color: #f3f3f3;
  color: #2d3748;
  line-height: 1.5;
}

.logo {
  width: 200px;
  height: auto;
  @media (max-width: 1024px) {
    width: 180px;
  }

  @media (max-width: 768px) {
    width: 140px;
  }
}
